.main-footer {
    background-color: #343a40;
    color: grey;
    margin-top: 2em;
    padding-top: 1em;
    position: relative;
    padding-bottom: 1em;
    width: 100%;
}

.col-sm {
    text-align: center;
}

a {
    color: grey;
}

a:hover {
     color: grey
}

hr {
    border-top: 1px solid grey;
}

p {
    margin: 0;
}

#icons {
    text-align: center;
}

#links {
    padding-left: 10px;
}

td {
    white-space: pre;
}

.flexible-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}