* {
  box-sizing: border-box !important;
}

body {
    /*background-color: #000 !important;
    color: white !important;*/
    font-family: Verdana, Geneva, sans-serif !important;
  }

body .bg-dark {
  background-color: #000;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  box-sizing: border-box;
  max-width: 100%;
  width: 460px;;
  text-align: center;
  padding: 10px;
}

.flex-container p {
  color: grey;
  font-size: small;
}

.float-item {
  width: 100%;
  height: auto;
}

.photoBiografie {
  width: 160px;
  float: right;
  margin-left: 10px;
}

.max-width {
  max-width: 100%;
}

/* Navbar */
.navbar-bgcolor {
  background-color: #343a40;
}

@font-face {
  src: url(assets/fonts/DancingScript-Bold.ttf);
  font-family: Dancing Script;
}

.handwriting {
  font-family: 'Dancing Script', cursive;
}

/* Impressum und Datenschutz */
.grey-font {
  color: #bdbdbd;
}

.grey-font h1 {
  font-size: 40px;
}

.grey-font h3 {
  font-size: 25px;
}

.grey-font p {
  text-align: justify;
}

.player-wrapper {
  position: relative;
  padding-top: 18%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.modal {
  color: grey;
}

.year {
  padding-right: 1em;
  font-weight: bold;
}

.genreBackground {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin-bottom: 10px;
}

.genreHeight {
  position: relative;
  max-width: 100%;
  height: 200px;
  background-size: cover;
  color: white;
}

.playerBottom {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0px;
  opacity: 0.8;
}

#walter-matthau {
  background-position: 0px -30px;
}

#asia {
  background-position: 0px -50px;
}

#peru {
  background-position: 0px -50px;
}

#kiss {
  background-position: 0px -50px;
}

.adventure {
  background-image: url("./assets/adventure.jpg");
}

.animation {
  background-image: url("./assets/animation.jpg");
}

.action {
  background-image: url("./assets/action.jpg");
}

.doku {
  background-image: url("./assets/docu.jpg");
}

.drama {
  background-image: url("./assets/drama.jpg");
}

.erotic {
  background-image: url("./assets/erotic.jpg");
}

.fantasy {
  background-image: url("./assets/fantasy.jpg");
}

.horror {
  background-image: url("./assets/horror.jpg");
}

.comedy {
  background-image: url("./assets/comedy.jpg");
}

.crime {
  background-image: url("./assets/crime.jpg");
}

.love {
  background-image: url("./assets/love.jpg");
}

.music {
  background-image: url("./assets/music.jpg");
}

.science-fiction {
  background-image: url("./assets/science-fiction.jpg");
}

.other {
  background-image: url("./assets/other.jpg");
}

.thriller {
  background-image: url("./assets/thriller.jpg");
}

.western {
  background-image: url("./assets/western.jpg");
}